.App {
  text-align: center;
  background:url("https://www.dropbox.com/s/lhwfa5dwpy0g2k2/keyboard%20create%20%28edited%29.jpeg?raw=1");
   background-size: cover;
   background-position: 70% 20%;
    
  text-align: center;
  margin: 0;
  padding: 0;
}





